version: '3.5'

services:
  db_auth:
    container_name: postgres
    ports:
      - "5435:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
    image: postgres:14.3-alpine

  service_fastapi:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: container_fastapi
    ports:
      - "8888:8888"
    depends_on:
      - db_auth
